<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>スケジューラー</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var today = new Date();
            var currentYear = today.getFullYear();
            var currentMonth = today.getMonth();
            var currentDate = today.getDate();
            var tasks = {};

            function fetchTasks() {
                $.get("{{ url_for('main.get_all_tasks') }}", function(data) {
                    tasks = data.reduce(function(acc, task) {
                        var date = new Date(task[0]);
                        var formattedDate = date.getFullYear() + '-' + (date.getMonth() + 1).toString().padStart(2, '0') + '-' + date.getDate().toString().padStart(2, '0');
                        if (!acc[formattedDate]) {
                            acc[formattedDate] = [];
                        }
                        acc[formattedDate].push(task[1]);
                        return acc;
                    }, {});
                    console.log(tasks); // タスクデータをコンソールに出力して確認
                    var todayStr = currentYear + '-' + (currentMonth + 1).toString().padStart(2, '0') + '-' + currentDate.toString().padStart(2, '0');
                    $('#task-count').text(currentYear + '年' + (currentMonth + 1) + '月' + currentDate + '日');
                    generateCalendar(currentYear, currentMonth);
                    updateUpcomingTasks();
                });
            }

            function generateCalendar(year, month) {
                var daysInMonth = new Date(year, month + 1, 0).getDate();
                var firstDay = new Date(year, month, 1).getDay();
                var lastMonthDays = new Date(year, month, 0).getDate();
                var nextMonthStartDay = 1;
                var calendar = '<table><tr>';
                var daysOfWeek = ['日', '月', '火', '水', '木', '金', '土'];
                
                for (var i = 0; i < daysOfWeek.length; i++) {
                    calendar += '<th>' + daysOfWeek[i] + '</th>';
                }
                calendar += '</tr><tr>';
                
                for (var i = 0; i < firstDay; i++) {
                    calendar += '<td class="prev-month">' + (lastMonthDays - firstDay + i + 1) + '</td>';
                }
                
                for (var day = 1; day <= daysInMonth; day++) {
                    if ((firstDay + day - 1) % 7 == 0) {
                        calendar += '</tr><tr>';
                    }
                    var dateStr = year + '-' + (month + 1).toString().padStart(2, '0') + '-' + day.toString().padStart(2, '0');
                    var cellClass = (year === today.getFullYear() && month === today.getMonth() && day === today.getDate()) ? 'calendar-day today' : 'calendar-day';
                    calendar += '<td class="' + cellClass + '" data-date="' + dateStr + '"><span class="date-number">' + day + '</span></td>';
                }
                
                var remainingDays = (firstDay + daysInMonth) % 7;
                if (remainingDays !== 0) {
                    for (var i = remainingDays; i < 7; i++) {
                        calendar += '<td class="next-month">' + nextMonthStartDay + '</td>';
                        nextMonthStartDay++;
                    }
                }
                
                calendar += '</tr></table>';
                $('#calendar').html(calendar);
                $('#current-month').text(year + '年 ' + (month + 1) + '月');
            }

            function updateUpcomingTasks() {
                $.get("{{ url_for('main.get_all_tasks') }}", function(data) {
                    var upcomingTasks = data.filter(function(task) {
                        var taskDate = new Date(task[0]);
                        return taskDate >= today;
                    }).sort(function(a, b) {
                        return new Date(a[0]) - new Date(b[0]);
                    }).slice(0, 5);

                    var taskList = upcomingTasks.map(function(task) {
                        var date = new Date(task[0]);
                        var formattedDate = date.getFullYear() + '-' + (date.getMonth() + 1).toString().padStart(2, '0') + '-' + date.getDate().toString().padStart(2, '0');
                        return '<li>' + task[1] + ' - ' + formattedDate + '</li>';
                    }).join('');

                    $('#upcoming-tasks').html(taskList);
                });
            }
            
            fetchTasks();
            
            $('#prev-month').click(function() {
                currentMonth--;
                if (currentMonth < 0) {
                    currentMonth = 11;
                    currentYear--;
                }
                generateCalendar(currentYear, currentMonth);
            });
            
            $('#next-month').click(function() {
                currentMonth++;
                if (currentMonth > 11) {
                    currentMonth = 0;
                    currentYear++;
                }
                generateCalendar(currentYear, currentMonth);
            });
            
            $(document).on('click', '.calendar-day', function() {
                var date = $(this).data('date');
                var dateParts = date.split('-');
                var formattedDate = dateParts[1] + '/' + dateParts[2];
                $('#popup-date').text(formattedDate);
                $.get("{{ url_for('main.get_tasks') }}", { date: date }, function(data) {
                    var taskDetails = data.map(function(task) {
                        return '<p><strong>' + task[0] + '</strong> ' + task[1] + '</p>';
                    }).join('');
                    $('#task-details').html(taskDetails);
                    $('#task-date').val(date);
                    $('#task-modal').show();
                });
            });
            
            $('#task-form').submit(function(event) {
                event.preventDefault();
                var title = $('#task-title').val();
                var description = $('#task-description').val();
                var due_date = $('#task-date').val();
                
                $.post("{{ url_for('main.add') }}", {
                    title: title,
                    description: description,
                    due_date: due_date
                }, function(data) {
                    fetchTasks(); // タスクを追加した後にカレンダーを再生成
                    $('#task-form-modal').hide(); // ポップアップを閉じる
                    $('#task-modal').hide(); // タスク詳細ポップアップを閉じる
                    updateUpcomingTasks(); // 期限が近いタスクを更新
                });
            });
            
            $('#task-modal-close').click(function() {
                $('#task-modal').hide();
            });

            $('#add-task-button').click(function() {
                $('#task-form-modal').show();
            });

            $('#task-form-modal-close').click(function() {
                $('#task-form-modal').hide();
            });
        });
    </script>
</head>

<body>
    <h1 id="task-count"></h1>
    <div class="main-container">
        <div class="calendar-container">
            <button id="prev-month">&lt;</button>
            <span id="current-month"></span>
            <button id="next-month">&gt;</button>
            <div id="calendar"></div>
        </div>
        
        <div class="upcoming-tasks-container">
            <h2>期限が近いタスク</h2>
            <ul id="upcoming-tasks">
                {% if tasks %}
                    {% for task in tasks %}
                        <li>{{ task[1] }} - {{ task[3] }}</li>
                    {% endfor %}
                {% else %}
                    <p>現在残っているタスクはありません</p>
                {% endif %}
            </ul>
            <a href="{{ url_for('main.task_list') }}">タスク一覧を見る</a>
        </div>
    </div>

    <div id="task-modal">
        <button id="task-modal-close" class="close-button">×</button>
        <div id="popup-date"></div>
        <div id="task-details"></div>
        <button id="add-task-button">追加</button>
    </div>

    <div id="task-form-modal">
        <button id="task-form-modal-close" class="close-button">×</button>
        <form id="task-form">
            <label for="task-title">タイトル</label>
            <input type="text" id="task-title" name="title" required>
            <label for="task-description">説明</label>
            <textarea id="task-description" name="description"></textarea>
            <input type="hidden" id="task-date" name="due_date">
            <button id="add-task-button" type="submit">追加</button>
        </form>
    </div>
</body>

</html>